.image{
    background-image: url('https://i.pinimg.com/originals/38/bf/b5/38bfb5a5928d74da35c0d16c4a454174.png%27');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

