body {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/cf/LeBron_James_crop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    color: red;
    display: flex;
    justify-content: center;
}

.adjust{
    color: salmon;
    display: flex;
    justify-content: center;
}

